.listContainer, .filterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productList, .filtersList {
    display: flex;
    width: 80%;
    gap: 50px;
    flex-wrap: wrap;
}

.filtersList {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.filtersLabel {
    font-size: 17px;
}

.filterForm {
    display: flex;
    gap: 20px;
}

.filterBtn {
    height: 38px;
    width: 15%;
    color: white;
    border-color: #11B5E4;
    background-color: #11B5E4;
}

.filterBtn:hover {
    border-color: #11B5E4;
    color: #11B5E4;
    background-color: white;
}


.productCard {
    display: flex;
    flex-direction: column;
    /* border: solid 1px #11B5E4; */
    /* border-radius: 5px; */
    background-color: rgb(247, 247, 172);
    padding: 10px;
    width: 200px;
    position: relative;
}

.productCard:hover {
    cursor: pointer;
    box-shadow: 1px 1rem 1rem rgba(0, 0, 0, 0.075) !important;
}

.starBox {
    position: absolute;
    top: 10px;
    left: auto;
    background-color: rgb(247, 247, 172);
    padding: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
}

.imageStyle img {
    border-radius: 5px;
    width: 100% !important;
}

.infoRow {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    padding: 10px;
}

.starRow {
    margin-top: 0px;
}

.productRate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productTitle {
    font-style: oblique;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
}

.productDescription {
    font-size: 12px;
    color: gray;
    font-weight: lighter;
    width: 50%;
}

/* INFO */
.infoContainer {
    padding: 50px 5%;
}

.infoContainer {
    display: grid;
    grid-template-columns: 6fr 3fr;
    /* gap: 50px 100px; */
}

.infopageLabel {
    padding: 20px 10px;
    border: solid #11B5E4 1px;
    background-color: rgb(247, 247, 172);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.infopageLabel span {
    font-weight: bold;
    padding-left: 20px;
    font-size: 17px;
}

.cardBox {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 5px;
}

.cardImageCol img {
    width: 60vh;
    height: 60vh;
}

.cardInfoCol {
    padding: 30px 20px;
}

.cardInfoTitle {
    /* font-style: oblique; */
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.cardInfoDescription {
    font-style: oblique;
}

.commentsListContainer {
    border-left: solid 1px #11B5E4;
}

.commentsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    overflow-y: scroll;
    height: 48vh;
}

.commentInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 5px 20px;
    /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; */
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.075), 0px -10px 5px rgba(0, 0, 0, 0.075);
}

.commentInputBody {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.commentBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 5px 20px;
}

.commentBox:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.commentImg img {
    border-radius: 30px;
}

.commentBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.commentName {
    font-weight: bold;
}

.commentText {
    font-style: oblique;
    font-size: 14px;
    color: gray;
}

.commentBtn {
    color: white;
    border-color: #11B5E4;
    background-color: #11B5E4;
}

.commentBtn:hover {
    border-color: #11B5E4;
    color: #11B5E4;
    background-color: white;
}

.rate i, .rate i:hover~i {
    color: #222;
    text-shadow: none;
    transition: color 200ms,
        text-shadow 200ms;
    /* This will remove the delay when
     moving the cursor left or right
     within the set of stars. */
    transition-delay: 0;
}

.starIconInfo {
    font-size: 30px;
    color: #fc0;
}

/* This is the style that will be
   applied to all stars and then
   subsequently removed from the stars
   to the right of the one being
   hovered. */
.rate:hover i {
    color: #fc0;
    text-shadow: #fc0 0 0 20px;
}

/* Make the effect apply one star at a
   time. Limiting the selector to when
   .rate is hovered removes the effect
   without delay when cursor leaves
   the .rate area. */
.rate:hover i:nth-child(2) {
    transition-delay: 30ms;
}

.rate:hover i:nth-child(3) {
    transition-delay: 60ms;
}

.rate:hover i:nth-child(4) {
    transition-delay: 90ms;
}

.rate:hover i:nth-child(5) {
    transition-delay: 120ms;
}

/* Miscellaneous styles. */
.rate i {
    cursor: pointer;
    font-style: normal;
}

@media only screen and (max-width: 700px) {
    .infoContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px 100px;
    }

    .cardBox {
        grid-template-columns: 1fr;
    }
}